{% extends 'base.html' %} 
{% block title %}
  {{ event.name }} ({{event.event_date }})
{% endblock title %}
{% block content %}
<h2>Detalhes do Evento {{ event.name }} ({{ event.event_date }})</h2>
<section class="dados-de-evento">
  <img src="{{ event.photo_url }}" alt="Foto do evento {{ event.name}}" />
  <ul>
    <li>Nome: {{ event.name }}</li>
    <hr>
    <li>Data do Evento: {{ event.event_date }}</li>
    <hr>
    <li>Descrição: {{ event.description }}</li>
    <hr>
    <li>Local: {{ event.location }}</li>
    <hr>
    <li>Preço: R${{ event.price }}</li>
    {% if event.categories %}
    <hr>
    <p>Categorias do Evento:</p>
      {% for category in event.categories.all %}
      <li> <a href="{% url 'events:detail-category' category.id %}">-> {{ category.name }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</section>
{% if user.is_authenticated and user.id == event.author_id %}

    <li style="display: inline-block; margin-right: 10px;">
        <a href="{% url 'events:update' event.id %}">
            <strong style="font-size: 18px;">Editar</strong>
        </a>
    </li>
    <li style="display: inline-block;">
        <a href="{% url 'events:delete' event.id %}">
          <strong style="font-size: 18px;">Apagar</strong>
        </a>
    </li>
{% endif %}
<section>
<hr>
  <header>
      <h3>Comentários</h3>
  </header>
  <ul>
      {% if event.comment_set.all %}
          {% for comment in event.comment_set.all %}
              <figure>
                  <blockquote>
                      "{{ comment.text }}"
                  </blockquote>
                  <figcaption>—{{ comment.author }}</figcaption>
              </figure>
          {% endfor %}
      {% else %}
          <p>Ainda não existe nenhum comentário para este filme.</p>
      {% endif %}
  </ul>
  {% if user.is_authenticated and event.author_id != user.id %}
  <hr>

    <a href="{% url 'events:comment' event.pk %}"><button>Crie seu Comentário</button></a>
</section>
  {% endif %}
{% endblock content %}
